.header {
  margin-top: 25px;
  height: 116px;
  @include flex-between;
  flex-direction: column;
  &__navigation  {
    &-links {
      @include flex-between;
      gap: 23px;
    }
    &-link {
      color: #000;
      font-size: 14px;
      transition: 0.5s all;
      &:hover {
        color: #F96900;
        transition: 0.5s all;
      }
    }
  }

  &__item {
    @include flex-between;
    align-items: center;
    a {
      display: flex
    }
  }
  &__contact {
    @include flex-between;
    flex-direction: column;
    color: #999;
    font-size: 15px;
    text-align: right;
  }
  &__telephone {
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
}
