body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 auto;
  border: 1px red solid;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
}

.header {
  margin-top: 25px;
  height: 116px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.header__navigation-links {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
.header__navigation-link {
  color: #000;
  font-size: 14px;
  transition: 0.5s all;
}
.header__navigation-link:hover {
  color: #F96900;
  transition: 0.5s all;
}
.header__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contact {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #999;
  font-size: 15px;
  text-align: right;
}
.header__telephone {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.popular__cards {
  position: relative;
  display: flex;
  overflow-x: scroll;
  padding: 0 0 70px 0;
  gap: 20px;
}
.popular__cards::-webkit-scrollbar {
  display: none;
}
.popular__card {
  cursor: pointer;
  padding: 14px 14px 14px 18px;
  display: flex;
  align-items: center;
  gap: 22px;
  min-width: 250px;
  font-size: 14px;
  border-radius: 10px;
  transition: 0.2s all;
  background: #fff;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 4px 22px -6px;
}
.popular__card-image {
  width: 76px;
  height: 76px;
}
.popular__card-price {
  font-size: 16px;
  font-weight: 600;
}
.popular__card:hover {
  transition: 0.2s all;
  box-shadow: rgba(6, 5, 50, 0.15) 0px 0px 12px -4px;
}

.button-primary {
  color: white;
  cursor: pointer;
  padding: 9px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s all;
  background: #F96900;
}
.button-primary:hover {
  transition: 0.5s all;
}
.button-primary:hover {
  background: #ed5d08;
}
.button-secondary {
  color: #d15700;
  cursor: pointer;
  padding: 9px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 20px;
  transition: 0.5s all;
  background: #fff0e6;
}
.button-secondary:hover {
  transition: 0.5s all;
}
.button-secondary:hover {
  background: #ffd0b2;
}

.image {
  max-width: 100%;
}

.image-container {
  height: 225px;
}

.title {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0));
  grid-row-gap: 60px;
  justify-content: space-between;
  grid-column-gap: 10px;
}

.card {
  cursor: pointer;
  position: relative;
  width: 250px;
  height: 370px;
}
.card__image {
  margin: 0 15px;
  height: 220px;
  transition: 0.5s all;
}
.card__image:hover {
  margin-top: 5px;
  transition: 0.5s all;
}
.card__title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 600;
}
.card__items {
  position: absolute;
  left: 0;
  right: 20px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.card__description {
  width: 224px;
  margin-top: 10px;
  color: #73798c;
  font-size: 14px;
}
.card__price {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

/*# sourceMappingURL=global.css.map */
