.navigation {
  ul {
    @include flex-between;
    gap: 23px;
  }
  a {
    color: #000;
    font-size: 14px;
    transition: 0.5s all;
    &:hover {
      color: $accent-color;
      transition: 0.5s all;
    }
  }
}
